body{
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #121313;
  text-align: justify;
}

header{
  background-color: #902223;
  padding-bottom: 5px;
  border-bottom: solid white 2px;
}

header a {
  color:gskyblue;
}

h1 {
  text-align: center;
}

a {
  color: cyan;
}


.container {
  display: grid;
  grid-template-columns: 100px auto minmax(100px, auto);
  grid-column-gap: 10px
}

#box1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.box1 {
  background-color: #411E3A;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
#box2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

footer {
  border-top: 1px solid white;
  background-color: #0D1A2F;
  padding-bottom: 50px;
}
